.addColumn {
    position: absolute;
    left: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    font-size: 24px;
    border: none;
    padding: 6px 12px;
    background-color: #567bf9;
    opacity: 0;
}

.addColumn::after {
    content: '';
    position: absolute;
    width: 800px;
    height: 2px;
    background: #567bf9;
    left: 45px;
    top: 36px;
}
.addColumn:hover {
    opacity: 1;
}

.inputRoot {
    padding: 10px 0 10px 10px;
    border-radius: 8px;
    border: double 2px lightgray;
}

.loaderContainer {
    display: flex;
    justify-content: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid;
    border-color: blue transparent blue transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
